li{
  list-style: none;
}

.btn{
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight:600;
  line-height: 60px;
  background-color:#ea352d;
  margin: 16px auto;
  width: 600px;
  color:#FFF;
  border:none;
  text-decoration: none;
}

.item-box{
  background-color:#FFF;
  height: auto;
  width: 700px;
  margin: 40px auto 0;
  padding: 24px 0px 40px;
  color: #333333;


  h1{
    font-size:24px;
    text-align: center;
    line-height: 1.4;
    font-weight: bold;
  }
  .clearfix::after{
    content: "";
    display: block;
    clear: both;
  }
  .item-main{
    margin: 16px 0 0;
    
    .item-photo{
      margin-left: 30px;
      float: left;
      .slider{
        min-width: 300px;
        max-width: 300px;
        min-height: 395px;  
        background-color: #f5f5f5;
   
      }
    }

    .item-detail-table{
      float: right;
      border-collapse: collapse;
      width: 100%;
      max-width: 300px;
      height: 420px;
      margin-right: 40px;
      &__user-name{
        text-decoration: none;
        color: #0099e8;
      }
      th,td{
        border: solid 1px #f5f5f5;
        font-weight: normal;
        font-size:14px;
        padding:8px;
      }
      th{
        text-align: left;
        width: 39%;
        background-color: #FAFAFA; 
      }
      td{
        width: 61%;
        .region{
          text-decoration: none;
          color: #0099e8;
        }
        span{
          color:black;
          font-weight: normal;
          margin-right: 10px;
        }
        .fa-smile{
          color:#fa2c93;
        }
        .fa-meh{
          color:#f5ab0c;
        }
        .fa-frown{
          color:#2088ff;
        }
      }
    }
  }
  .item-price{
    margin: 24px 0 0;
    text-align: center;

    &__price{
      font-size:40px;
      font-weight: bold;
    }
    &__tax{
      font-size:10px;
    }
  }

  .item-description{
    margin-left: 50px;
  }

  .item-button-box{
    display: flex;
    
    .right-button{
      display: flex;
      &--like,&--report{
        line-height: 5px;
        font-size:14px;
        padding: 8px 16px;
        margin-top: 16px;
        border-radius: 15px;
        background-color:rgb(239,239,239);
      }
      &--like{
        margin-left: 50px;
        margin-right: 15px;
      }
    }
    .left-button{
      margin: 20px 0 0 100px;
      font-size:14px;
      color:#0099e8;
    }
  }
}

.item-editor{
  background-color: #FFF;
  height: auto;
  width: 700px;
  margin: 30px auto;
  padding: 20px 0;

  p{
    display: block;
    text-align: center;
  }
  
  &__delete-btn{
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight:600;
  line-height: 60px;
  background-color:#aaa;
  margin: 16px auto;
  width: 600px;
  color:#FFF;
  border:none;
  text-decoration: none;
  }

}

.item-message{
  background-color: #FFF;
  height: auto;
  width: 700px;
  margin: 8px auto 0;
  .message-container{
    padding :20px 0;
    margin: 0 50px;
    .message-content{
      background-color: #fff6de;
      font-size:14px;
    }
    .message-form {
  
      textarea{
        width: 100%;
        max-width: 100%;
        min-height: 104px;
        margin-top: 5px;
        border: 1px solid #ccc;
      }
      .button{
        display: block;
        width: 100%;
        background-color: #aaa;
        color:#FFF;
        line-height: 50px;
        font-size:14px;
        text-decoration: none;
        text-align: center;
  
      }
    }
  }
}

.nav-item{
  width: 700px;
  margin: 24px auto 0;
  height: 20px;
  font-size:14px;
  .prev,.next{
    text-decoration: none;
    color:#0099e8;
  }

  .prev{
    float: left;
  }
  .next{
    float: right;
  }
  }


.social-media-box{
  background-color:#FFF;
  height: 130px;
  width: 700px;
  margin: 24px auto;
  text-align: center;
  ul{
    padding-top: 20px;
    .sns-icon{
      text-decoration: none;
      :hover{
        opacity: 0.7;
      }
      .fab{
        padding: 30px 2px 0;
      }
      .fa-facebook-square{
        color:#385185;
      }
    
      .fa-twitter-square{
        color:#5d9dc9;
      }

      .fa-line{
        color:#00B900;
      }
  
      .fa-pinterest-square{
        color:#aa262a;
      }
    }
  }
}

.items-index{
  width: 700px;
  height: auto;
  margin: 0 auto;
  &__contents{
    height: auto;
    width: 100%;
    h2{
      font-weight: bold;
      font-size:25px;
    }
    &__box{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .items-box{
        background-color: #fff;
        color:#333;
        width: 220px;
        height: 330px ;
        margin-bottom: 20px;
        text-decoration: none;

        img{
          width: 220px;
          height: 200px;
        
        }

        .items-body{
          margin: 16px;
          font-size:16px;
          &__name{
            
          }
          &__price{
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
          }
        }
      }
      
    }
  }
}